{% extends 'base.html.twig' %}

{% block title %}Interim App{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Bienvenue sur Interim App</h1>

    <ul>
        <li><a href="{{ path('interim') }}">Gestion des intérimaires</a></li>
        <li><a href="{{ path('contract') }}">Gestion des contrats</a></li>
        <li><a href="{{ path('mission') }}">Gestion des suivis de mission</a></li>
        <li><a href="{{ path('stats') }}">Statistiques des contrats d'intérim</a></li>
    </ul>
</div>
{% endblock %}
